.content-box {
  display: block;
  width: auto;
  padding: 0;
  background-color: #757575;
  animation-name: flashbackground;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.yinyang-sign {
  display: block;
  padding: 0;
  margin: auto;
  text-align: center;
  animation-name: spinaround;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translate(0px, 0px);
}

.svg-image {
  display: block;
  width: 100%;
  height: auto;
}

.msg {
  color: red;
  text-align: center;
  transparent: 100%;
  animation-name: flashtext;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes flashtext {
  0% {
    trasparent: 100%;
    transform: translate(0vw, 0vh) scale(1) rotate(0deg);
  }
  15% {
    transparent: 100%;
    transform: translate(0vw, -50vh) scale(2) rotate(360deg);
  }
  75% {
    transparent: 0%;
    color: #ff000000;
    transform: translate(0vw, 0vh) scale(1) rotate(360deg);
  }
  75% {
    transparent: 85%;
    color: #ff000000;
    transform: translate(0vw, 0vh) scale(1) rotate(360deg);
  }
  100% {
    transparent: 100%;
    color: #ff000000;
    transform: translate(0vw, 0vh) scale(1) rotate(0deg);
  }
}

@keyframes spinaround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes flashbackground {
  0% {
    background-color: #757575;
    transform: translate(0vw, 0vh);
  }
  25% {
    background-color: #000000;
    transform: translate(0vw, 0vh);
  }
  50% {
    background-color: #ffffff;
    transform: translate(0vw, 0vh);
  }
  75% {
    background-color: #000000;
    transform: translate(0vw, 0vh);
  }
  100% {
    background-color: #757575;
    transform: translate(0vw, 0vh);
  }
}
